$white: #FFFFFF !default;
$black: #000000 !default;

$orange-dark: #EE5522;
$orange-medium: #FF8B02;

$yellow-dark: #FEBC13;
$yellow-light: #FFE040;

$teal: #0E747A;

$gray-10: #F7F8F8;
$gray-20: #F0F0F0;
$gray-30: #EDEEEE;
$gray-40: #DEDFDF;
$gray-50: #DBDDDC;
$gray-60: #D9DADA;
$gray-70: #D4D5D5;
$gray-80: #D1D3D2;
$gray-90: #CFD0D0;
$gray-100: #C2C4C3;
$gray-110: #B8B9B9;
$gray-120:#ADAFAE;
$gray-130: #999B9A;
$gray-140: #858685;
$gray-150: #7A7C7B;
$gray-160: #707171;
$gray-170: #666767;
$gray-180: #5C5D5C;
$gray-190: #525252;
$gray-200: #474848;
